.empty-todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-accent);
  border: var(--color-border) 1px solid;
  box-shadow: 0 4px 4px var(--color-shadow);
  border-radius: 0.5em;
  font-size: 1em;
  animation: empty-todo-list 0.3s ease;
  text-wrap: none;
  overflow: hidden;
  height: 128px;
  width: 100%;
}
.empty-todo-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
}

.empty-todo-list p {
  color: var(--color-text);
  font-size: 1.2em;
}
@keyframes empty-todo-list {
  0% {
    opacity: 0.3;
    width: 60%;
    height: 32px;
    font-size: 0em;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 128px;
    font-size: 1em;
  }
}
