.todo-filter {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 2em;
  width: 100%;
}

.todo-filter svg.svg-todo-filter-btn {
  padding-right: 0.25em;
}

.todo-filter button[data-selected="true"] {
  background-color: var(--color-bg-accent_2);
}
