.todo-status {
  width: 100%;
  background-color: var(--color-bg-accent);
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
  box-shadow: 0 4px 4px var(--color-shadow);
}
.todo-status .status-title {
  margin-bottom: 0.5em;
}
.todo-status-content {
  font-size: 1.1em;
  text-align: center;
  border-radius: 0.5em;
  color: var(--color-text);
  padding: 1em 2em;
  flex-grow: 1;
}
.todo-status-icon {
  font-weight: 700;
  color: var(--color-error);
  padding: 0 0.2em;
}
/*  This is necessary to ajust icon in text */
.todo-status-icon svg {
  margin-right: 2px;
  transform: translateY(2px);
}

.progress-group {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.todo-status .progressbar {
  flex-grow: 1;
  height: 1em;
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px solid var(--color-border);
}
.todo-status .progressbar .progress {
  height: 1em;
  border-radius: 0.25em;
  background-image: linear-gradient(
    -45deg,
    var(--color-accent),
    var(--color-text)
  );
  transition: width 0.6s cubic-bezier(0.175, 1.2, 0.32, 1.45);
}
