button.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-bg-alt);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
button:hover.btn {
  border-color: var(--color-accent);
}
button:focus.btn,
button:focus-visible.btn {
  outline: 4px auto -webkit-focus-ring-color;
}
