.main-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 1.5em 3em;
  justify-content: space-around;
  align-items: end;
}

.groups-header {
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.4em;
}
