.main-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 0.4em 1em;
  justify-content: space-around;
  align-items: center;
}

.groups-header {
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.4em;
}
