.main-header {
  display: flex;
  padding: 2em 1em;
  justify-content: space-around;
  align-items: center;
}

.groups-header {
  color: var(--color-text);
  display: flex;
  gap: 0.5em;
  align-items: center;
}
