input[type="text"].input-text {
  flex-grow: 1;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
}

input[type="text"]:hover.input-text {
  transition: border-color 0.25s;
  border-color: var(--color-accent);
}
input[type="text"]::placeholder.input-text {
  color: var(--color-text);
  opacity: 0.6;
}
input[type="text"]:focus.input-text,
input[type="text"]:focus-visible.input-text {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: var(--color-accent);
}
