:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-text);
}
a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--color-bg);
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

section.todo-content {
  margin: 2em auto;
  max-width: 600px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-bg-alt);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.icon {
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"] {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type="text"] {
  flex-grow: 1;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
}

input[type="text"]:hover {
  transition: border-color 0.25s;
  border-color: var(--color-accent);
}
input[type="text"]::placeholder {
  color: var(--color-text);
  opacity: 0.6;
}
input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: var(--color-accent);
}

form.todo-form {
  display: flex;
  gap: 8px;
  margin-bottom: 1.5em;
}
