:root {
  --color-bg: #fdf6f0;
  --color-bg-alt: #f0fafa;
  --color-bg-accent: #ffeae0;
  --color-bg-accent_2: #d8f0ec;
  --color-bg-deactivate: #dce1e2;
  --color-text: #5c706d;
  --color-accent: #ff8a65;
  --color-border: #efdbd0;
  --color-error: #ca483a;
}

:root.dark {
  color-scheme: dark;
  --color-bg: #2a3c3f;
  --color-bg-alt: #364c50;
  --color-bg-accent: #3f585c;
  --color-bg-accent_2: #4a696e;
  --color-bg-deactivate: #546e7a;
  --color-text: #f0fafa;
  --color-accent: #ffccbc;
  --color-border: #546e72;
  --color-error: #ef5643;
}
